* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* fonts */
@font-face {
    font-family: source-sans-bold;
    src: url(./assets/fonts/SourceSansPro-Bold.ttf);
}

/* utils */

body {
    overflow-x: hidden;
}

h1 {
    font-family: source-sans-bold;
    font-size: 12vw;
}

h2 {
    font-family: source-sans-bold;
    font-size: 10vw;
}

img {
    width: 100%;
}

ul {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
}

ul :nth-child(2) {
    transform: translateX(25vw);
}

ul :nth-child(1) {
    transform: translateX(0);
}

section {
    height: 100vh;
}

.container {
    padding: 10vw;
}

.animated-div {
    background: #118AB2;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.text-white {
    color: white
}