* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utils */

body {
    background-color: #ebebeb;
}

img {
    width: 100%;
}

.container {
    padding-inline: 128px;
}

/* hero section */
.logo-div {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-25%) translateX(-5%);
}
