* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* fonts */
@font-face {
    font-family: source-sans-bold;
    src: url(./assets/fonts/SourceSansPro-Bold.ttf);
  }

/* utils */

h1{
font-family: source-sans-bold;
font-size: 12vw;
}

img {
    width: 100%;
}

.container {
    padding-inline: 128px;
}

section{
    height: 100vh;
}

.animated-div{
    background: #118AB2;
    width: 100vw;
    height: 100vh;
    position: absolute;
}